.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 610px;
    padding: 50px 20px;
    background-color: #f0f6ff;
    position: relative;
  }
  
  .about-content {
    max-width: 600px;
    position: relative;
  }
  
  .profile-pic {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #1a2a3a;
  }
  
  h1 strong {
    font-weight: bold;
    color: #0045a6;
  }
  
  .scroll-text {
    margin-top: 40px;
    font-size: 1rem;
    color: #a0a0a0;
    letter-spacing: 3px;
  }
  
  .scroll-line {
    position: absolute;
    left: 50%;
    bottom: 20px; /* Start from 400px above the bottom */
    width: 1px;
    height: 250px; /* Initial height */
    background-color: #a0a0a0;
    animation: scroll-line 2s infinite;
    transform: translateX(-50%); /* Center the line */
  }
  
  @keyframes scroll-line {
    0% {
      bottom: 10px; /* Start from 10px above the bottom */
      height: 250px;
    }
    50% {
      bottom: 10px; /* Keep bottom fixed */
      height: 290px; /* Increase the height */
    }
    100% {
      bottom: 10px; /* Return to the initial bottom position */
      height: 250px;
    }
  }
  