@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
  .bitter{
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .wrapper{
    width: 100vw;
    outline: black, 1rem,;
  }

  .animatedScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    background-color: rgb(255, 199, 166);
    z-index: 99;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease;
    transform: translateY(-100%);
  }
  
  .animatedScreen.active {
    transform: translateY(0%);
  }
  
  .animatedScreen.colorChange {
    background-color: rgb(169, 203, 255);
  }
  
  .dropDown{
    position:fixed;
    top:0;
    width: 95vw;
    height: 95vh;
    z-index: 100;
    background-color: red;
    transition: transform 0.3 ease-in-out;
    transform: translateY(-100%);
  }

  .dropDown.dropping{
    transform:translateY(0%);
  }