
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f0f6ff;
  }
  
  .LogoButton{
    margin-top: 20px;
    margin-left: 50px;
    width: 50px; /* Increase button width */
    height: 50px; /* Set button height */
    background: none; /* Remove background color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Change cursor to pointer */
    display: flex; /* Center the icon */
    align-items: center; /* Vertically center the icon */
    justify-content: center; /* Horizontally center the icon */
  }

  .header-left, .header-right {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 80px; /* Adjust size as needed */
    height: auto;
  }
  
  .menu {
    padding: 5px 10px; /* Adjust padding to increase the button size */
    font-size: 20px; /* Ensure the text is 20px */
    letter-spacing: 4px;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
  }
  
  
  
  .header-right .talk {
    font-size: 18px;
    letter-spacing: 2px;
    color: #1a2a3a;
  }
  
  .header-left .menu::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 15px;
    background-color: #1a2a3a;
  }
  
  .talk::before {
    content: '\1F4AC'; /* Unicode for speech balloon */
    margin-right: 10px;
    color: #a333c8; /* Purple color */
    font-size: 24px;
  }
  
  .profile_pic{

    width: 90px;
  }