.css-hhdjsd-MuiContainer-root{
    width: 250px !important;

}


.css-1a2fzn6-MuiPaper-root-MuiAppBar-root{
    margin-top: 10px;
    width: 250px !important;
    background-color: transparent !important;
    align-items: start !important;
    left: 1.75% !important;
}

.css-ycvhdl{
    display: flex;
    align-items: start;
}