@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

  .bitter-home {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.home-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 50px 20px;
    background-color: #f0f6ff;
    position: relative;
    padding-left: 250px;
    font-size: 3.8rem;
  }
  
  .home-details {
    max-width: 600px;
    margin-top: 50px;
  }
  .home-details h2, .home-details p {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .home-details h2 {
    color: #1a2a3a;
    margin-bottom: 10px;
    text-align: left;
    transform: translateX(100%); 
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  .home-details h2.show {
    transform: translateX(0); 
    opacity: 1; 
  }

  
  .home-details p {
    font-size: 1rem;
    color: #1a2a3a;
    margin-bottom: 20px;
    font-size: 1.8rem;
    line-height: 1.6;
    transition: opacity 0.5s ease-out; 
    transition-delay: 0.5s; 
  }

  .home-details p.show {
    opacity: 1; /* Make paragraph visible */
  }



  .home-details strong {
    font-weight: bold;
  }
  
  .home-button {
    font-size: 1.8rem;
    color: #a333c8;
    border: 2px solid #a333c8;
    padding: 10px 20px;
    background: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 7px; /* Make button edges round */
    transition: opacity 0.5s ease-out; 
    transition-delay: 1s; 
    opacity: 0;

  }
  .home-button.show{
    opacity: 1;

  }
  .home-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, rgba(163, 51, 200, 0.1), rgba(163, 51, 200, 0.1) 10px, transparent 10px, transparent 20px);
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: left;
    
  }
  
  .home-button:hover::before {
    transform: scaleX(1);
  }
  


  .screen-cover {
    position: fixed;
    top: -100vh; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(169, 203, 255); 
    z-index: 99;
    transform: translateY(-100%); 
    transition: background-color 0.5s ease, transform 1s ease;
  }
  
  .screen-cover.active {
    transform: translateY(100%); 
  }

  .screen-cover.color-changed {
    background-color: rgb(255, 199, 166); 
  }
  
