.padLeft {
  padding-left: 250px;
}

.descrip {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 40%;
}

.projectDesc {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.rigthShift40 {
  max-width: 20%;
  margin: auto;
}

.flex-Row {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.flex-Row > div {
  flex: 1;
}

.dots-background {
  position: absolute;
  width: 22%; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  right: 200px;
  background-image: radial-gradient(#add8e6 1px, transparent 1px);
  background-size: 10px 10px; /* Adjust the spacing between dots */
}

.work-font {
  font-family: "Bitter", serif;
}

.flex-Col {
  display: flex;
  flex-direction: column;
}

.work-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  /* padding: 50px 20px; */
  background-color: #f0f6ff;
  /* padding-left: 250px; */
  width: 100%;
}

.work-section h2 {
  font-size: 28px;
  color: #1a2a3a;
  margin-bottom: 20px;
  justify-self: start;
}

.work-section p {
  font-size: 1rem;
  color: #1a2a3a;
  margin-bottom: 40px;
}

.work-item {
  display: flex;
  align-items: flex-start;
  max-width: 80%;
  margin-bottom: 50px;
}

.work-logo {
  width: 260px; /* Adjust the size as needed */
  height: auto;
  margin-top: 60px;
  margin-right: 80px; /* Add some space between the image and the text */
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.work-details {
  flex: 1;
  text-align: left;
}

.work-details h3 {
  font-size: 1.5rem;
  color: #1a2a3a;
  margin-bottom: 10px;
}

.work-details p {
  font-size: 1rem;
  color: #1a2a3a;
  margin-bottom: 10px;
  margin-right: 100px;
}

.work-button {
  align-self: flex-start; /* Align the button to the left */
  font-size: 1rem;
  color: #a333c8;
  border: 2px solid #a333c8;
  padding: 10px 20px;
  background: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  margin-top: 10px; /* Add spacing above the button */
  border-radius: 7px; /* Make button edges round */
}

.work-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    rgba(163, 51, 200, 0.1),
    rgba(51, 195, 200, 0.1) 10px,
    transparent 10px,
    transparent 20px
  );
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: left;
}

.work-button:hover::before {
  transform: scaleX(1);
}

.horizontal-line {
  width: 100%;
  border: 0;
  height: 1px;
  background: #d3d3d3;
  margin-top: 20px;
}
